.idea
*.iml
tmp/logs/*
tmp/cache/*
tmp/sessions/*
tmp/test/*
Config/database.php
app/tmp/sessions/*
app/tmp/logs/*
app/tmp/cache/*
app/tmp/test/*
app/Config/database.php
!empty
.settings
.DS_Store
nbproject/*
