<IfModule mod_rewrite.c>
    RewriteEngine on
    <IfModule mod_vhost_alias.c>
        RewriteBase /
    </IfModule>
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
 </IfModule>
